Repository MetaCell/cloud-harness, pull requests merged in 2022-02, with the labels that each got.

#385 Feature/216-384
  utilities/cloudharness_utilities/constants.py
  utilities/cloudharness_utilities/deployment-configuration/helm/templates/auto-deployments.yaml
Labels: bug, alert:deployment, security, scope:deployment

#400 Feature/346 Improve build dependencies: remove unused base images
  utilities/cloudharness_utilities/codefresh.py
  utilities/cloudharness_utilities/helm.py
  utilities/cloudharness_utilities/skaffold.py
  utilities/cloudharness_utilities/utils.py
  utilities/tests/resources/applications/myapp/Dockerfile
  utilities/tests/resources/applications/myapp/deploy/values.yaml
  utilities/tests/test_helm.py
  utilities/tests/test_skaffold.py
  utilities/tests/test_utils.py
Labels: enhancement, scope:deployment-generation

#332 Feature/327: implement jupyter node selectors
  applications/jupyterhub/README.md
  applications/jupyterhub/src/harness_jupyter/harness_jupyter/jupyterhub.py
Labels: scope:deployment, scope:jupyterhub

#379 Feature/344: gatekeeper improvements
  tools/cloudharness_utilities/deployment-configuration/helm/templates/auto-gatekeepers.yaml
  tools/cloudharness_utilities/utils.py
Labels: scope:deployment, scope:accounts

#424 #423 change the argo executor
  applications/argo/deploy/charts/values.yaml
Labels: priority:high

#428 #384 fix: mount secret also on accounts pod
  tools/cloudharness_utilities/deployment-configuration/helm/templates/auto-deployments.yaml
Labels: bug, chore, scope:deployment

#429 #423 change argo executor to pns
  applications/argo/deploy/charts/values.yaml
Labels: bug

#430 Fix/384: load accounts secret only at need
  libraries/cloudharness-common/cloudharness/__init__.py
  libraries/cloudharness-common/cloudharness/auth/keycloak.py
Labels: refactoring
