Repository MetaCell/cloud-harness, pull requests merged in 2022-05, with the labels that each got.

#475 Feature/474
  tools/cloudharness_utilities/deployment-configuration/helm/templates/auto-volumes.yaml
Labels: refactoring

#484 #418 Force restart of gatekeeper on conf change
  applications/samples/deploy/values.yaml
  tools/cloudharness_utilities/deployment-configuration/helm/templates/auto-gatekeepers.yaml
Labels: scope:deployment, scope:accounts

#487 #444 implement multiple environments functionality
  .gitignore
  docs/build-deploy/environments.md
  tools/cloudharness_utilities/codefresh.py
  tools/cloudharness_utilities/deployment-configuration/codefresh-template-dev.yaml
  tools/cloudharness_utilities/deployment-configuration/codefresh-template-prod.yaml
  tools/cloudharness_utilities/helm.py
  tools/harness-deployment
  tools/tests/resources/applications/myapp/deploy/values-dev.yaml
  tools/tests/resources/applications/myapp/deploy/values-test.yaml
  tools/tests/resources/deployment-configuration/codefresh-template-dev.yaml
  tools/tests/resources/deployment-configuration/codefresh-template-test.yaml
  tools/tests/test_codefresh.py
  tools/tests/test_helm.py
Labels: enhancement, scope:deployment-generation

#494 Feature/493
  docs/applications/databases.md
  docs/model/DatabaseDeploymentConfig.md
  docs/model/DatabaseDeploymentConfigAllOf.md
  libraries/api/openapi.yaml
  libraries/models/cloudharness_model/models/database_deployment_config.py
  libraries/models/cloudharness_model/models/database_deployment_config_all_of.py
  tools/cloudharness_utilities/deployment-configuration/helm/templates/auto-database-mongo.yaml
  tools/cloudharness_utilities/deployment-configuration/helm/templates/auto-database-neo4j.yaml
  tools/cloudharness_utilities/deployment-configuration/helm/templates/auto-database-postgres.yaml
  tools/cloudharness_utilities/deployment-configuration/value-template.yaml
Labels: enhancement, new feature
